<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
        <h1>About page</h1>
        <p>This is About paragraph</p>
        {{> footer}}
    </body>
</html>