<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        <h1>Home page</h1>
        <p>This is the home page</p>
        <p> welcome {{screamIt userName}}</p>
        {{> footer}}
    </body>
</html>