<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance</title>
    </head>
    <body>
        <h1>Maintenace page</h1>
        <p>This is the Maintenance page</p>
        <p>{{Rightback}}</p>
        {{> footer}}
    </body>
</html>